<div class="container">
    <h3>Test number</h3>
    <p-dataTable [value]="slides" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes" [globalFilter]="globalFilter" reorderableColumns="true" class="table">
        <p-column field="id" header="Id" [style]="{'width':'5%'}"></p-column>
        <p-column field="slideName" header="Test name" sortable="true" [style]="{'width':'45%'}"></p-column>
        <p-column field="delay" header="Delay" [style]="{'width':'10%'}"></p-column>
        <p-column field="primingImage" header="Priminig image" [style]="{'width':'15%'}">
            <template let-object="rowData" pTemplate="body">
                <div *ngIf="object.primingImage">
                    <img [src]="'data:image/jpeg;base64,' + object.primingImage" height="128" width="128"/>
                </div>
            </template>
        </p-column>
        <p-column field="testImage" header="Test image" [style]="{'width':'15%'}">
            <template let-object="rowData" pTemplate="body">
                <div *ngIf="object.testImage">
                    <img [src]="'data:image/jpeg;base64,' + object.testImage"  height="128" width="128"/>
                </div>
            </template>
        </p-column>
        <p-column field="Actions" [style]="{'width':'10%'}">
            <template pTemplate="header">
					<span>
						<button class="btn btn-success" (click)="addNewSlideModal(editModal)">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</button>
					</span>
			</template>
            <template let-object="rowData" pTemplate="body">
					<button class="btn btn-warning edit-button" (click)="editSlideModal(object, editModal)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger delete-button" (click)="deleteSlideModal(object, deleteModal)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
			</template>
        </p-column>
    </p-dataTable>


    <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div *ngIf="test" class="modal-dialog modal-md modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="deleteModal.hide()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
                    <h4 class="modal-title">Confirm delte</h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="slide.primingImage">
                        <img [src]="'data:image/jpeg;base64,' + slide.primingImage" height="128" width="128" />
                    </div>
                    <div *ngIf="slide.testImage">
                        <img [src]="'data:image/jpeg;base64,' + slide.testImage" height="128" width="128" />
                    </div>
                    <div>
                        <b>Slide name:</b> {{slide.slideName}}
                    </div>
                    <div>
                        <b>Delay:</b> {{slide.delay}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default modal-cancel" (click)="deleteModal.hide();$event.stopPropagation()">Cancel</button>
                    <button class="btn btn-primary modal-delete" (click)="deleteTest(slide, deleteModal);$event.stopPropagation()">Confirm delete</button>
                </div>
            </div>
        </div>
    </div>


    <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-content modal-dialog modal-md modal-dialog-center">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="editModal.hide()">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
                <h4 class="modal-title">Edit slide modal title</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" #editForma="ngForm" id="ngForm" novalidate (ngSubmit)="addEditSlide(editForm.value, editForm.valid, editModal)">
                    <div>
                        <label>Name</label>
                        <input type="text" formControlName="slideName" class="form-control">
                        <small [hidden]="editForm.controls.slideName.valid || (editForm.controls.slideName.pristine && !submitted)" class="text-danger">
                                Name is required (minimum 5 characters).
                        </small>
                    </div>
                    <div style="margin-top:20px;">
                        <label>Delay</label>
                        <input type="text" formControlName="delay" class="form-control">
                        <small [hidden]="editForm.controls.delay.valid || (editForm.controls.delay.pristine && !submitted)" class="text-danger">
                                Delay is required (minimum 5 characters).
                        </small>
                    </div>
                    <div style="margin-top:30px;">
                        <strong>Upload priming image:</strong>
                    </div>
                    <div *ngIf="slide.primingImage" style="margin-top:20px;">
                        <img [src]="'data:image/jpeg;base64,' + slide.primingImage" height="128" width="128" />
                    </div>
                    <div style="margin-top:20px;">
                        <label class="btn btn-primary" for="primingImageFile">
                            <input type="file" id="primingImageFile" #primingImageFile accept="." (change)="onChangeJavaFile($event)" style="display:none;">
                                Browse file for upload
                        </label>
                        <span class='label label-info' id="upload-file-info">{{primingImageFile?.name}}</span>
                    </div>
                    <div style="margin-top:30px;">
                        <strong>Upload test image:</strong>
                    </div>
                    <div *ngIf="slide.testImage" style="margin-top:20px;">
                        <img [src]="'data:image/jpeg;base64,' + slide.testImage" height="128" width="128" />
                    </div>
                    <div style="margin-top:20px;">
                        <label class="btn btn-primary" for="testImageFile">
                            <input type="file" id="testImageFile" #testImageFile accept="." (change)="onChangeJavaFile($event)" style="display:none;">
                                Browse file for upload
                        </label>
                        <span class='label label-info' id="upload-file-info">{{testImageFile?.name}}</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="editModal.hide();$event.stopPropagation;">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="editForma.ngSubmit.emit()" [disabled]="!editForm.valid">Save</button>
            </div>
        </div>
    </div>
</div>