<div class="container">
    <h3>List of tests</h3>
    <p-dataTable [value]="tests" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes" [globalFilter]="globalFilter" reorderableColumns="true" class="table">
        <p-column field="id" header="Id" [style]="{'width':'5%'}"></p-column>
        <p-column field="testName" header="Test name" [style]="{'width':'20%'}"></p-column>
        <p-column field="description" header="Description" [style]="{'width':'40%'}"></p-column>
        <p-column field="creationDate" header="Creation date" [style]="{'width':'10%'}"></p-column>
        <p-column field="testPromoImage" header="Test logo" [style]="{'width':'15%'}">
            <template let-object="rowData" pTemplate="body">
                <div *ngIf="object.testPromoImage">
                    <img [src]="'data:image/jpeg;base64,' + object.testPromoImage" />
                </div>
            </template>
        </p-column>
        <p-column field="Actions" [style]="{'width':'10%'}">
            <template let-object="rowData" pTemplate="body">
					<button class="btn btn-warning edit-button" (click)="editTestModal(object, editModal)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger delete-button" (click)="deleteTestModal(object, deleteModal)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
			</template>
        </p-column>
    </p-dataTable>


    <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div *ngIf="test" class="modal-dialog modal-md modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="deleteModal.hide()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
                    <h4 class="modal-title">Confirm delte</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <img [src]="'data:image/jpeg;base64,' + test.testPromoImage" />
                    </div>
                    <div>
                        <b>Test name:</b> {{test.testName}}
                    </div>
                    <div>
                        <b>Test description:</b> {{test.description}}
                    </div>
                    <div>
                        <b>Creation date:</b> {{test.creationDate}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default modal-cancel" (click)="deleteModal.hide();$event.stopPropagation()">Cancel</button>
                    <button class="btn btn-primary modal-delete" (click)="deleteTest(test, deleteModal);$event.stopPropagation()">Confirm delete</button>
                </div>
            </div>
        </div>
    </div>


    <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-content modal-dialog modal-md modal-dialog-center">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="editModal.hide()">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
                <h4 class="modal-title">Edit test modal title</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="editModal.hide();$event.stopPropagation;">Cancel</button>
                <!--<button type="button" class="btn btn-primary" [disabled]="validateUploadForm()" (click)="upload(addEditModal)">Upload</button>-->
            </div>
        </div>
    </div>



</div>