<h3>This is the TEST</h3>

<h3>Top Tests 111</h3>
<!--<div class="grid grid-pad">
    <a *ngFor="let test of tests" [routerLink]="['/detail', test.id]" class="col-1-4">
        <div class="module hero">
            <img [src]="test?.testImage">
            <div><img class="img-captcha" [src]="'data:image/jpeg;base64,' + test?.testImage" /></div>
        </div>
    </a>
</div>-->

<button type="button" class="btn btn-primary" (click)="initializeTests()">Initialize probaTest</button>
<!--<p>Posle buttona a pre slike</p>


<div><img [src]="'data:image/jpeg;base64,' + probaTest?.testImage" /></div>-->

<div *ngIf="test">
    <img [src]="'data:image/jpeg;base64,' + test.testPromoImage" />
</div>

<!--<h3>Data table 11</h3>
<p-dataTable [value]="tests">
    <p-column field="id" header="Id"></p-column>
    <p-column field="testImage" header="Name">
        <template let-object="rowData" pTemplate="body">
          <div class="text-center" >{{object.id}}</div>
          <div>{{object.testName}}</div>
          <div>Ovo je image: {{object?.testImage}}</div>
          <div><img [src]="'data:image/jpeg;base64,' + object?.testImage" /></div>
        </template>
    </p-column>
</p-dataTable>-->

<!--<h3>Hello, this is modal</h3>
<button type="button" class="btn btn-primary" (click)="showChildModal()">Open child modal</button>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Child modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                I am a child modal, opened from parent component!
            </div>
        </div>
    </div>
</div>-->