<div class="container">
    <h3>Data table 11</h3>
    <p-dataTable [value]="tests">
        <p-column field="id" header="Id">
            <template let-object="rowData" pTemplate="body">
            <div>{{object.id}}</div>
        </template>
        </p-column>
        <p-column field="testPromoImage" header="Name">
            <template let-object="rowData" pTemplate="body">
            <div *ngIf="object">
                <img [src]="'data:image/jpeg;base64,' + object.testPromoImage" />
            </div>
        </template>
        </p-column>
        <p-column field="name" [style]="{'width': '84px'}">
            <template let-object="rowData" pTemplate="body">
					<button class="btn btn-warning edit-button" (click)="editTest(object, editModal)">
						<span class="glyphicon glyphicon-edit">{{object}}}</span>
					</button>
					<button class="btn btn-danger delete-button" (click)="deleteTest(object, editModal)">
						<span class="glyphicon glyphicon-trash">{{object}}}</span>
					</button>
				</template>
        </p-column>
    </p-dataTable>


    <h3>Hello, this is modal</h3>
    <button type="button" class="btn btn-primary" (click)="showChildModal()">Open child modal</button>

    <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Child modal</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditModal(editModal)">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    I am a child modal, opened from parent component!
                </div>
            </div>
        </div>
    </div>

</div>