<h3>This is the TEST</h3>

<h3>Top Tests 1</h3>
<div class="grid grid-pad">
    <a *ngFor="let test of tests" [routerLink]="['/detail', test.id]" class="col-1-4">
        <div class="module hero">
            <h4>{{test.testName}}</h4>
        </div>
    </a>
</div>


<h3>Data table 1</h3>
<p-dataTable [value]="tests">
    <p-column field="id" header="Id"></p-column>
    <p-column field="testPromoImage" header="Name">
        <template let-object="rowData" pTemplate="body">
          <div class="text-center" >{{object.id}}</div>
          <div>{{object.testName}}<img [src]="object.testPromoImage"></div>
        </template>
    </p-column>
</p-dataTable>

<h3>Hello, this is modal</h3>
<button type="button" class="btn btn-primary" (click)="showChildModal()">Open child modal</button>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Child modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                I am a child modal, opened from parent component!
            </div>
        </div>
    </div>
</div>